body {
    margin: 0;
    padding: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    color: #155263;
}

h3 {
    color: #ff6f3c;
}

.choices {

    display: flex;
    flex-direction: row;
    padding: 1rem;
    justify-content: space-evenly;

}

.choice {
    border: 0.2rem solid #ff9a3c;
    border-radius: 0.5rem;
    padding: 1rem;
    background-color:  #ffc93c;
}


.choice a {
    text-decoration: none;
    font-size: 1.2rem;
    color: darkslategrey;
}

.book-list h1 {
    font-size: 2rem;
}