<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Library</title>
</head>
<body>
    {% for book in books %}
        <div>
            <p>{{book.title}}, {{book.author}}</p>
            <p>Genre: {{book.genre}}</p>
            <div class="form">
            <form action="/remove/{{book.title}}" method="post">
                <label for="remove">Remove this book?</label>
                <input type="submit" value="Delete">
            </form>
        </div>
     
    {% endfor %}
</body>
</html>